body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: #ffcc00;
  text-decoration: none;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.project-card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid #007acc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.skills li {
  background: #007acc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
}
html {
  scroll-behavior: smooth;
}
/* DARK MODE */
body.dark-mode {
  background-color: #121212;
  color: #f4f4f4;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #1e1e1e;
  color: #f4f4f4;
}

body.dark-mode .project-card {
  background-color: #222;
  color: #f4f4f4;
  border-left: 5px solid #ffcc00;
}

body.dark-mode .skills li {
  background: #ffcc00;
  color: #121212;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: none;
  }
}
.corner-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
